@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow:hidden;
}

body {
    background: #121113;
    margin: 0;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.fireworks {
    position: fixed;
}

.title h2 {
    z-index: 1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    position: relative;
    z-index: 1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
}

.name h2 {
    -webkit-text-stroke: 0.2px #ed2121;
    color: rgb(231, 230, 230);
    font-size: 1.7em;
}

section .title h2 {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-size: 8em;
    line-height: 0.9em;
}

section .title h2 c {
    color: #e32c2c;
    -webkit-text-stroke: 0 #fff;
    text-decoration: 8px underline #e32c2c;
}

.title p span {
    position: relative;
    background: #267257;
    font-size: 1.6rem;
    display: inline-block;
    color: #e9e1e1;
    padding: 0 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 21%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5em;
    -webkit-text-stroke: 0px #fff;
    z-index: 1;
}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    left: 46%;
    top: 15%;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.bn5:hover{
   background-color: rgb(28, 28, 28);
}


.footer {
    text-align: center;
    color: #989898;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-size: 0.9rem;
}

::-webkit-scrollbar {
    width: 0;
}

section.content img {
    max-width: 300px;
    opacity: 0.5;
    mix-blend-mode: overlay;
}


@media only screen and (max-width: 768px) {
    .title h2 {
        font-size: 4em;
    }

    section .title h2 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 480px) {
    .title h2{
        font-size: 20rem;
        flex-direction: row;
    }

    section .title p span {
        position: relative;
        font-size: 1rem;
        margin-top:85%;
    }

    .name{
        margin-top: -40px;
       font-size: 0.7rem;
    }

    .title h2 {
       
        flex-direction: column;
        align-items: flex-end;
    }

    .title h2 c {
        font-size: 4rem;
        display: block;
        text-align: right;
        margin-top: 14px; 
    }

    .bn5{
        position: relative;
       left: 140px;
       top:95px;
    }

    .footer{
        color: #b7b6b6;
        font-size: 0.75rem;
        margin-bottom: 10px;
    }
}
